body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: rgb(123, 210, 220);
}
.quem-somos {
    background-color: rgb(173, 240, 170);
}
.parceiros {
    background-color: rgb(208, 224, 137);
}
.fexamentos {
    background-color: rgb(226, 171, 112)
}
.margin {
    padding-bottom: 3px;
}
h3 {
    padding-top: 3px;
}
.parceiros-txt {
    padding-top: 3px;
    font-style: oblique;
    font-family: fantasy;
    color: rgb(51, 178, 32)
}
.quem-somos-txt {
    font-family: monospace;
    color: rgb(5, 22, 5);
}

.title-quemsomos {
    background-color: black;
    color: whitesmoke;
    padding-bottom: 3px;
    padding-top: 3px;
}
.title-fexamentos {
    background-color: black;
    color: whitesmoke;
    padding-bottom: 3px;
    padding-top: 3px;
}
.title-parceiros {
    background-color: black;
    color: whitesmoke;
    padding-bottom: 3px;
    padding-top: 3px;
}
.bg-footer {
    padding-top: 3px;
    background-color: black;
    color: chocolate;
}